SECRET_KEY=QpwaV97zcajqCC6wY5GjsFwNjEIj5nFg5lJNDbDiD7geue7CTjBmpcHXq9cO52BllJ+KQSPiUpg8w+5ZepA+yQ==
DATABASE_URL=postgresql://postgres.ppsxudfomsubhiyvfzzi:fqk9x5sNPJ4O8Df2@aws-1-us-east-1.pooler.supabase.com:6543/postgres